<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}

{% include navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->{% endif %}

<div id="main" role="main" itemprop="mainContentOfPage">
  <div class="article-author-top">
    {% include author-bio.html %}
  </div>
	<article itemscope itemtype="http://schema.org/CreativeWork">
		<h1 itemprop="name">{{ page.title }}</h1>
		{% for post in site.posts %}
			{% if post.category == 'publications' %}
				{% unless post.next %}
					<h2>{{ post.date | date: '%Y' }}</h3>
				{% else %}
					{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
					{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
					{% if year != nyear %}
						<h2>{{ post.date | date: '%Y' }}</h3>
					{% endif %}
				{% endunless %}
				<div class="article-wrap" itemprop="text">
					<h2 itemprop="headline" style="font-size:1.25rem; line-height: .9286; text-transform:uppercase; margin-bottom:4px;">
						<a href="{{ post.file }}"><i class="icon-pdf"></i> </a>
						<a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
						  {{ post.title }}
						</a>
					</h2>
					<p itemprop="text" style="font-size: .875rem;">
						{% if post.authors %}
							{{ post.authors }}
						{% endif %}
						<br />
						{% if post.conference %}
							{{ post.conference }}
						{% endif %}
					</p>
				</div>
			{% endif %}
		{% endfor %}
	</article>
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>
